#notification-container {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  gap: 10px;
  flex-wrap: nowrap;
  margin-left: 35px;
}

.notification {
  position: relative;
  max-width: min(320px, 100vw);
  border: 2px solid;
  --box-shadow-settings: 0 0 5px;
  animation: show 2s;
  padding: 4px;
  color: white;
  display: flex;
  border-radius: 8px;
}

@keyframes show {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification.classic {
  background-color: #333;
  border-color: black;
  box-shadow: var(--box-shadow-settings) #333;
}

.notification.success {
  background-color: var(--success-color);
  color: white;
  border-color: #1fd75f;
  box-shadow: var(--box-shadow-settings) var(--success-color);
}

.notification.error {
  background-color: var(--error-color);
  color: white;
  border-color: var(--error-color);
  box-shadow: var(--box-shadow-settings) var(--error-color);
}

.notification .close {
  margin-left: 8px;
  cursor: pointer;
}

.notification .close:hover {
  color: var(--hover-color);
}

@media screen and (max-width: 420px) {
  #notification-container {
    right: 10px;
  }
}
