* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
}

#trip-search {
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-input {
  outline: none;
  height: 50px;
  width: 350px;
  font-size: large;
}

.fake {
  visibility: hidden;
  outline: none;
  width: 0;
  height: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.container > * {
  max-width: 1320px;
}

.searchresults-container {
  min-width: 80%;
  max-width: 1200px;
  border: 1px solid black
}

.info-container > * {
  padding: 5px;
}

.find-trip {
  background-color: red;
  width: 150px;
  border: 0;
  color: white;
  font-size: large;
}