$font-size: 16px;

$primary-color: #3498db;
$success-color: #2ecc71;
$background-color: #f7f7f7;
$text-color: #000000;
$banned-color: #a51a1a;
$link-color: blue;
$hover-color: orange;
$error-color: #ff0015;
$border-color: black;
$hover-background-color: #e6e5e5;

$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
